{deps, [
    {merklet, {git, "https://github.com/ferd/merklet.git", {branch, "master"}}}
]}.

{ct_opts, [{ct_hooks, [cth_readable_failonly, cth_readable_shell]}]}.

{profiles, [
    {test, [
        {deps, [
            {cth_readable,
                {git, "https://github.com/ferd/cth_readable.git", {branch, "master"}}}
        ]}
    ]},
    {demo, [
        {src_dirs, ["src", "demo"]},
        {deps, [ranch, recon]},
        {shell_apps, [sdiff,recon,ranch]}
    ]}
]}.
