{deps, [
    {merklet, {git, "https://github.com/ferd/merklet.git", {branch, "master"}}}
]}.

{ct_opts, [{ct_hooks, [cth_readable_failonly, cth_readable_shell]}]}.
{proper_opts, [{numtests, 1000}]}.

{plugins, [
    {rebar3_proper, ".*", {git, "https://github.com/ferd/rebar3_proper.git", {branch, "master"}}}
]}.

{profiles, [
    {demo, [
        {src_dirs, ["src", "demo"]},
        {deps, [ranch, recon]},
        {shell_apps, [sdiff,recon,ranch]}
    ]},
    {test, [
        {deps, [
            ranch,
            {cth_readable,
                {git, "https://github.com/ferd/cth_readable.git", {branch, "master"}}},
            {proper, {git, "https://github.com/manopapad/proper.git", {branch, "master"}}}
        ]}
    ]}
]}.
