{deps, [
    {merklet, {git, "https://github.com/ferd/merklet.git", {branch, "master"}}},
    {backoff, {git, "https://github.com/ferd/backoff.git", {branch, "master"}}},
    {lager, {git, "https://github.com/basho/lager.git", {tag, "2.2.0"}}}
]}.

{erl_opts, [{parse_transform, lager_transform}]}.

{ct_opts, [{ct_hooks, [cth_readable_failonly, cth_readable_shell]}]}.
{proper_opts, [{numtests, 1000}]}.

{plugins, [
    {rebar3_proper, ".*", {git, "https://github.com/ferd/rebar3_proper.git", {branch, "master"}}}
]}.

{profiles, [
    {demo, [
        {src_dirs, ["src", "demo"]},
        {deps, [ranch, recon]},
        {shell, [{apps, [sdiff,recon,ranch]}]}
    ]},
    {bench, [
        {src_dirs, ["src", "bench"]},
        {deps, [ranch, recon, bear]},
        {shell, [{apps, [sdiff,recon,ranch]}]}
    ]},
    {test, [
        {deps, [
            ranch,
            {cth_readable,
                {git, "https://github.com/ferd/cth_readable.git", {branch, "master"}}},
            {proper, {git, "https://github.com/manopapad/proper.git", {branch, "master"}}}
        ]}
    ]}
]}.
